<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--源目录-->
    <add key="sourcDdirectory" value="D:\龙进\LJ.Framework3\LJ.UMFramework3"/>
    <!--目标目录-->
    <add key="targetDdirectory" value="D:\龙进\黄埔\LJ.HP.Reunion"/>
    <!--源字符-->
    <add key="sourceString" value=".UMFramework3."/>
    <!--目标字符-->
    <add key="targetString" value=".HP.Reunion."/>
    <!--排除扩展名 正则表达式-->
    <add key="excludeFileExt" value=".dll|.png|.jpg|.gif|.svg|.eot|.ttf|.woff|.woff2$"/>
    <!--排除目录 正则表达式-->
    <add key="excludeFolder" value=".svn|.vs|bin|obj|packages|fonts|Libs|RSA|node_modules"/>
    <!--容许扩展名 正则表达式-->
    <add key="allowFileExt" value=".cs"/>
    <!--容许目录 正则表达式-->
    <add key="allowFolder" value=""/>
  </appSettings>
</configuration>